.big-counter {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #212529;
    padding: 20px;
    gap: 10px;
    color: white;
    font-size: 3rem;
}

.card-box {
    border: 1px solid #444;
    padding: 10px 20px;
    background-color: #333;
    border-radius: 5px;
    text-align: center;
    min-width: 60px;
}